<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currency converter</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
</head>

<body>
    <div style="height:800px;background-color:#EEF4F7; margin:0px" class="grid" id="app" id="app">
<div class="background-upper-half">
    <img src="static/pickar_logo_white.png" class="pickar-logo-white"></img>
    <div style="padding-left:60px;padding-top:125px" class="headline">Convert currencies in real-time.</div>
</div>

<div class="converter box-background">
    <div style="display:flex;flex-flow: row wrap;">
        <div class="input-field">
            <div class="name">Amount</div>
            <input type="number" class="default-value" v-model="amount" id="amount-box">
        </div>
        <div class="input-field" style="margin-right:40px;">
            <div class="name">From</div>
            <div class="dropdown">
                {{base}}
                <div class="dropdown-content" v-model="target">
                    <option v-for="currency in currencies" v-on:click="setBase">{{currency}}</option>
                </div>
            </div>
            <img src="static/Arrow.png" class="dropdown-arrow"/>
        </div>

        <div style="position:relative;top:67px;left:20px">
        <img src="static/Switcher.png" style="cursor:pointer" v-on:click="swapCurrencies"/>
        </div>

        <div class="input-field">
            <div class="name">To</div>
            <div class="dropdown">
                {{target}}
                <div class="dropdown-content" v-model="target">
                    <option v-for="currency in currencies" v-on:click="setTarget">{{currency}}</option>
                </div>
            </div>
            <img src="static/Arrow.png" class="dropdown-arrow"/>
        </div>

        <button>
            <div class="button-default-value" v-on:click="convertClick">Convert</div>
        </button>
    </div>
</div>

<div class="button-view-history">
    View conversion history >
</div>

<div class="base-result">
    {{result.input}} {{result.base}} =
</div>
<div class="target-result">
    {{result.output}} {{result.target}}
</div>

<script src="scripts/index.js"></script>
</div>
</body>
</html>